.article{
    background: #e9203d;
    height:40px;
    color: #fff;
    display: flex;
    justify-content:space-between;
    width: 100%;
    position:fixed;
    left:0;
    top:0;
    align-items: center;
    padding:0 10px;
}
.loginIcon{
    font-size: 18px;
    color:#fff;
    margin-right: 10px;
}
.searchBar{
    flex-grow:1;
    background-color: #fff;
    height: 30px;
    margin: 0 10px;
    padding:0 10px;
    >input{
        width: 100%;
        height: 100%;
    }
}
.searchBut{
    width:20px;
    height:20px;
   
    >i{
        font-size: 20px;
        line-height: 20px;
        color: #fff;
    }
}
.login{
    width: 20px;
    height: 20px;
}






